body {
    background-color: black;
    color: green;
    font-family: "Courier";
    font-weight: bold;
}

#left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
}

#right {
    float: right;
    width: 75%;
}

#header {
    width: 44em;
    text-align: left;
    margin-bottom: 2em;
    overflow: auto;
}

#title {
    padding: 1em 0;
    font-size: 42pt;
}

#title a {
    text-decoration: none;
    color: green;
    background-color: black;
}

#title a:hover {
    color: black;
    background-color: green;
}

.post {
    width: 44em;
    margin-bottom: 8vh;
}

.post-header {
}

.post-title {
    font-size: xx-large;
    text-align: left;
    margin-bottom: 0.5em;
}

.post-title a {
    text-decoration: none;
    color: black;
    background-color: green;
}

.post-title a:hover {
    color: green;
    background-color: black;
}

.post-meta {
    font-size: large;
    clear: both;
}

.post-meta:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.post-date {
    font-size: large;
    margin-bottom: 0.5em;
}

.post-tags {
    text-align: left;
    margin-bottom: 0.5em;
}

.post-text {
    text-align: left;
    line-height: 1.2;
}

.quote {
    text-align: center;
}

a {
    color: green;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.1em;
}

pre {
    border: 1px;
    border-style: solid;
    padding: 0.5em;
}